<div ng-app="formExample"> 
<div ng-controller="ExampleController as examController">
<%= form_for(@empresacliente) do |f| %>
  <% if @empresacliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresacliente.errors.count, "error") %> prohibited this empresacliente from being saved:</h2>

      <ul>
      <% @empresacliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <h2>Cliente</h2>
          <ul class="nav nav-pills">
            <li class="active"><a data-toggle="tab" href="#home">Cliente</a></li>
            <li><a data-toggle="tab" href="#menu1">Empresa</a></li>
          </ul>
        
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3></h3>
              <div class="text-primary">
              <div class="panel panel-primary">
                <div class="panel-heading">
              <center><font><h1>Datos Cliente Encargado</h1></font></center>
            </div><br></br>
              <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="field form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></div>
  			    	  <%= f.text_field :personaNombre, :class=>"form-control", placeholder: "Nombre: Carlos" %>
  			    	</div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></div>
                  <%= f.text_field :personaApellido, placeholder: "Apellido: Carreño", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa fa-phone" aria-hidden="true"></i></div>
                  <%= f.text_field :personaTelefono, type: "number", placeholder: "Telefono: 2506574", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa fa-mobile" aria-hidden="true"></i></div>
                  <%= f.text_field :personaMovil, type: "number", placeholder: "Telefono movil: 3228732378", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-md-offset-1">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                  <%= f.text_field :numidentificacion, placeholder: "CC", :class=>"form-control", :disabled=> true %>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-0">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="" aria-hidden="true"></i></div>
                  <%= f.text_field :numidentificacion, type: "number", placeholder: "1024756374", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  <%= f.text_field :fechaNacimiento, type: "date", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></div>
                  <%= f.text_field :personaEmail, placeholder: "E-mail: ezehernandez@hotmail.com", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-street-view" aria-hidden="true"></i></div>
                  <%= f.text_field :personaDireccion, placeholder: "Direccion: Crr 44 # 5-34", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></div>
                  <%= f.collection_select(:usuario_id, Usuario.all, 
                                      :id, :nombreCompletoUsuario,
                                   {:prompt => false}, {:class=>"form-control", :style=>"padding:6px 0px;"}) %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="field form-group">
                  <br>
                  <center><input type="checkbox" ng-model="user.empresa" /> Agregar Empresa</center>
                </div>
              </div>
              </div>
              </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <h3></h3>
              <div class="text-primary">
              <div class="panel panel-primary">
                <div class="panel-heading">
              <center><font><h1>Datos Empresa</h1></font></center>
            </div><br></br>
              <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></div>
                      <%= f.text_field :nit, placeholder: "Nit: 2341273-4", :class=>"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-0" >
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></div>
                      <%= f.text_field :empresaNombre, placeholder: "Nombre de empresa", :class=>"form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                      <%= f.text_field :empresaTelefono, type: "number", placeholder: "Telefono empresa: 5602343", :class=>"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-7 col-md-offset-0">
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-street-view" aria-hidden="true"></i></div>
                      <%= f.text_field :empresaDireccion, placeholder: "Direccion empresa: Cll 67 # 6-44", :class=>"form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></div>
                      <%= f.text_field :empresaEmail, placeholder: "E-mail empresa: ehc@hotmail.com", :class=>"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-0">
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-chrome" aria-hidden="true"></i></div>
                      <%= f.text_field :paginaWeb, placeholder: "Pagina web: www.EHC.com.co", :class=>"form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-suitcase" aria-hidden="true"></i></div>
                      <%= f.select :tipo, ['Activo', 'Inactivo'], :include_blank => "Por favor seleccione..." %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-0">
                    <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                      <%= f.file_field :foto %>
                    </div>
                  </div>
                </div>
                </div>
                </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="actions">
            <%= f.submit 'Guardar Cliente', :class=>"btn btn-primary btn-block fa fa-2x" %>
          </div>
        </div>
      </div>
  </div>
</div>  
<% end %>

<script>
    angular.module('formExample', [])
.controller('ExampleController', ['$scope', function($scope) {
  $scope.master = {};

  $scope.update = function(user) {
    $scope.master = angular.copy(user);
  };

  $scope.reset = function(form) {
    if (form) {
      form.$setPristine();
      form.$setUntouched();
    }
    $scope.user = angular.copy($scope.master);
  };

  $scope.reset();
}]);
</script>