<div ng-app="formExample"> 
<div ng-controller="ExampleController as examController">
<%= form_for(@empresacliente) do |f| %>
  <% if @empresacliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresacliente.errors.count, "error") %> prohibited this empresacliente from being saved:</h2>

      <ul>
      <% @empresacliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class="text-primary">
              <div class="panel panel-primary">
                <div class="panel-heading">
              <center><font><h1>Datos Cliente Encargado</h1></font></center>
            </div><br></br>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="field form-group">
                  <%= f.label :"Nombre" %><br>
                  <%= f.text_field :personaNombre, placeholder: "Ezequiel", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="field form-group">
                  <%= f.label :"Apellido de persona de la empresa" %><br>
                  <%= f.text_field :personaApellido, placeholder: "Hernandez Carreño", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="field form-group">
                  <%= f.label :"Teléfono" %><br>
                  <%= f.text_field :personaTelefono, type: "number", placeholder: "2506574", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="field form-group">
                  <%= f.label :"Móvil" %><br>
                  <%= f.text_field :personaMovil, type: "number", placeholder: "3228732378", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-md-offset-1">
                <div class="field form-group">
                  <%= f.label :"Tipo Cedula" %><br>
                  <%= f.text_field :numidentificacion, placeholder: "CC", :class=>"form-control", :disabled=> true %>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-0">
                <div class="field form-group">
                  <%= f.label :"Numero de Cedula" %><br>
                  <%= f.text_field :numidentificacion, type: "number", placeholder: "1024756374", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="field form-group">
                  <%= f.label :"Fecha de Nacimiento" %><br>
                  <%= f.text_field :fechaNacimiento, type: "date", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="field form-group">
                  <%= f.label :"Email"%><br>
                  <%= f.text_field :personaEmail, placeholder: "ezehernandez@hotmail.com", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="field form-group">
                  <%= f.label :"Dirección" %><br>
                  <%= f.text_field :personaDireccion, placeholder: "Crr 44 # 5-34", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="field form-group">
                  <%= f.label :"Fecha de inicio de contrato" %><br>
                  <%= f.text_field :fechaInicio, type: "date", :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="field form-group">
                  <%= f.label :"Fecha de fin de contrato" %><br>
                  <%= f.text_field :fechaFin, type: "date", :class=>"form-control" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="field form-group">
                  <%= f.label :"Usuario a cargo" %><br>
                  <%= f.collection_select(:usuario_id, Usuario.all, 
                                      :id, :nombre,
                                   {:prompt => false}, {:class=>"form-control", :style=>"padding:6px 0px;"}) %>
                </div>
              </div>
              <div class="col-md-5 col-md-offset-0">
                <div class="field form-group">
                  <br>
                  <center><input type="checkbox" ng-model="user.empresa" /> Agregar Empresa</center>
                </div>
              </div>
              </div>
              <div class="container-fluid">
              <div ng-show="user.empresa" class="row">
                <div class="panel panel-primary">
                <div class="panel-heading">
                  <center><font><h1>Datos Empresa</h1></font></center>
                </div><br></br>
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="field form-group">
                      <%= f.label :"Nit" %><br>
                      <%= f.text_field :nit, placeholder: "2341273-4", :class=>"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-0" >
                    <div class="field form-group">
                      <%= f.label :"Empresa" %><br>
                      <%= f.text_field :empresaNombre, placeholder: "EHC", :class=>"form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-md-offset-1">
                    <div class="field form-group">
                      <%= f.label :"Teléfono" %><br>
                      <%= f.text_field :empresaTelefono, type: "number", placeholder: "5602343", :class=>"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-7 col-md-offset-0">
                    <div class="field form-group">
                      <%= f.label :"Dirección"%><br>
                      <%= f.text_field :empresaDireccion, placeholder: "Cll 67 # 6-44", :class=>"form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="field form-group">
                      <%= f.label :"Email"%><br>
                      <%= f.text_field :empresaEmail, placeholder: "ehc@hotmail.com", :class=>"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-0">
                    <div class="field form-group">
                      <%= f.label :"Página Web" %><br>
                      <%= f.text_field :paginaWeb, placeholder: "www.EHC.com.co", :class=>"form-control" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
                    <div class="field form-group">
                      <%= f.label :"Tipo"%><br>
                      <%= f.text_field :tipo, placeholder: "", :class=>"form-control" %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-0">
                    <div class="field form-group">
                      <%= f.label :"Foto" %><br>
                      <%= f.file_field :foto %>
                    </div>
                  </div>
                </div>
            
            </div>
            
            <style>
              input[type=checkbox] {
              /* All browsers except webkit*/
              transform: scale(1.3);
            </style>
                <!-- Formulario para datos de empresa -->
            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="actions">
            <%= f.submit 'Guardar Cliente', :class=>"btn btn-rouder-primary btn-block fa fa-2x" %>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>

<script>
    angular.module('formExample', [])
.controller('ExampleController', ['$scope', function($scope) {
  $scope.master = {};

  $scope.update = function(user) {
    $scope.master = angular.copy(user);
  };

  $scope.reset = function(form) {
    if (form) {
      form.$setPristine();
      form.$setUntouched();
    }
    $scope.user = angular.copy($scope.master);
  };

  $scope.reset();
}]);
</script>