<%= form_for(@servicio) do |f| %>
  <% if @servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited this servicio from being saved:</h2>

      <ul>
      <% @servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row fac-item well">
        <div class="text-primary">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-primary">
  <div class="panel-heading">
              <center><font><h1>Datos de Servicios</h1></font></center>
            </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="field form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-barcode" aria-hidden="true"></i></div>
                <%= f.text_field :codigo, placeholder: "Codigo: 7563", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="field form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <%= f.text_field :nombre, placeholder: "Nombre: Mantenimiento", :class=>"form-control"%>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="field form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                <%= f.text_field :descripción, placeholder: "Descripcion: Se dara el mantenimiento acordado", :class=>"form-control"%>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2 col-md-offset-1">
              <div class="field form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></div>
                <%= f.text_field :precio, placeholder: "Precio: Se dara el mantenimiento acordado", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-0">
              <div class="field form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-bell-o" aria-hidden="true"></i></div>
                <%= f.text_field :disponibilidad, placeholder: "Disponibilidad: Se dara el mantenimiento acordado", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-0">
              <div class="field form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <%= f.text_field :usuario_id, placeholder: "Usuario_id: Se dara el mantenimiento acordado", :class=>"form-control"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="actions">
        <h3>
        <a><%= f.submit 'Guardar Servicio', :class=>"btn btn-primary btn-block fa" %></a>
        </h3>
        
      </div>
    </div>
  </div>
  </div>
<% end %>
