<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Servicio: <%= @servicio.nombre %></h1>
  </div>
  <div class="panel-body">
    <d1 class="dl-horizontal">
      <dt class="text-info">Codigo:</dt>
      <dd><%= @servicio.codigo %></dd>
      <dt class="text-info">Disponibilidad:</dt>
      <dd><%= @servicio.disponibilidad %></dd>
      <dt class="text-info">Precio:</dt>
      <dd><%= @servicio.precio %></dd>
      <dt class="text-info">Descripcion:</dt>
      <dd><%= @servicio.descripción %></dd>
      <dt class="text-info">Usuario:</dt>
      <dd><%= @servicio.usuario.nombre %> <%= @servicio.usuario.apellido %></dd>
    </d1>
  </div>
</div>

<div>
  <h3>
    <a><%= link_to 'Editar', edit_servicio_path(@servicio), :class=>"btn btn-primary fa fa-pencil-square-o" %></a>
  <a><%= link_to 'Volver', :back, :class=>"btn btn-primary fa fa-arrow-circle-left" %></a>
  </h3>
  
</div>