<p id="notice"><%= notice %></p>

<p>
  <strong>Nombreciudad:</strong>
  <%= @ciudad.nombreCiudad %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @ciudad.Departamento %>
</p>

<%= link_to 'Edit', edit_ciudad_path(@ciudad) %> |
<%= link_to 'Back', ciudads_path %>
