<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row fac-item well">
        <div class="text-primary">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                <center><font><h1>Datos Cliente Encargado</h1></font></center>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <%= f.text_field :personaNombre, placeholder: "Nombre: Maria", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></div>
                <%= f.text_field :personaApellido, placeholder: "Apellido: Palencia", :class=>"form-control"%>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <%= f.text_field :personaTelefono, type: "number", placeholder: "Telefono: 2407856", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-mobile-phone" aria-hidden="true"></i></div>
                <%= f.text_field :personaMovil, type: "number", placeholder: "Telefono movil: 3167496235", :class=>"form-control"%>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-2 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                <%= f.text_field :tipoCedula, placeholder: "CC", :class=>"form-control", :disabled=> true %>
              </div>
            </div>
            <div class="col-md-3 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="" aria-hidden="true"></i></div>
                <%= f.text_field :cedula, type: "number", placeholder: "60345234", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <%= f.text_field :fechaNacimiento, type: "date", :class=>"form-control" %>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></div>
                <%= f.text_field :personaEmail, placeholder: "E-mail: ejemplo@hotmail.com", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-street-view" aria-hidden="true"></i></div>
                <%= f.text_field :personaDireccion, placeholder: "Direccion: Cll 15 # 6-55", :class=>"form-control"%>
              </div>
            </div>
          </div>
          </div>
          <br/><br/>
          <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
            <div class="panel-heading">
            <center><font><h1>Datos Empresa</h1></font></center>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-book" aria-hidden="true"></i></div>
                <%= f.text_field :nit, type: "number", placeholder: "Nit: 23637837-8", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></div>
                <%= f.text_field :empresaNombre, placeholder: "Nombre de empresa: Vendas WAL", :class=>"form-control"%>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <%= f.text_field :empresaTelefono, type: "number", placeholder: "Telefono Empresa: 2504733", :class=>"form-control"%>
              </div>
            </div>
            <div class="col-md-7 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-street-view" aria-hidden="true"></i></div>
                <%= f.text_field :empresaDireccion, placeholder: "Direccion: Crr 74 # 5-32", :class=>"form-control"%>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></div>
                <%= f.text_field :empresaEmail, placeholder: "E-mail: ventaswal@hotmail.com", :class=>"form-control"%>
            </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-chrome" aria-hidden="true"></i></div>
                <%= f.text_field :paginaWeb, placeholder: "Pagina web: www.ventaswal.com.co", :class=>"form-control" %>
            </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></div>
                <%= f.text_field :cuentaContable, placeholder: "Cuenta contable: 1234 1233 7462 5647", :class=>"form-control" %>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <%= f.text_field :usuarios_id, placeholder: "......", :class=>"form-control" %>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <div class="field form-group input-group">
                <%= f.label :"Fecha Inicio Contrato" %>
                <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <%= f.text_field :fechaInicio, type: "date", :class=>"form-control" %>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-0">
              <div class="field form-group input-group">
                <%= f.label :"Fecha Fin Contrato" %>
                <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <%= f.text_field :fechaFin, type: "date", :class=>"form-control" %>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="form-group input-group">
  			    	  <div class="input-group-addon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                <%= f.file_field :foto %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>
  
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="actions">
        <a><%= f.submit 'Guardar Proveedor', :class=>"btn btn-primary btn-block fa fa-2x" %></a>
      </div>
    </div>
  </div>
<% end %>