<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Tipo Cedula" %><br>
    <%= f.text_field :tipoCedula %>
  </div>
  <div class="field">
    <%= f.label :"Cedula" %><br>
    <%= f.text_field :cedula %>
  </div>
  <div class="field">
    <%= f.label :"Fecha Nacimiento" %><br>
    <%= f.text_field :fechaNacimiento %>
  </div>
  <div class="field">
    <%= f.label :"Nombre" %><br>
    <%= f.text_field :personaNombre %>
  </div>
  <div class="field">
    <%= f.label :"Apellido" %><br>
    <%= f.text_field :personaApellido %>
  </div>
  <div class="field">
    <%= f.label :"Telefono" %><br>
    <%= f.text_field :personaTelefono %>
  </div>
  <div class="field">
    <%= f.label :"Movil" %><br>
    <%= f.text_field :personaMovil %>
  </div>
  <div class="field">
    <%= f.label :"Email" %><br>
    <%= f.text_field :personaEmail %>
  </div>
  <div class="field">
    <%= f.label :"Direccion" %><br>
    <%= f.text_field :personaDireccion %>
  </div>
  <div class="field">
    <%= f.label :"NIT" %><br>
    <%= f.text_field :nit %>
  </div>
  <div class="field">
    <%= f.label :"Nombre" %><br>
    <%= f.text_field :empresaNombre %>
  </div>
  <div class="field">
    <%= f.label :"Direccion" %><br>
    <%= f.text_field :empresaDireccion %>
  </div>
  <div class="field">
    <%= f.label :"Telefono" %><br>
    <%= f.text_field :empresaTelefono %>
  </div>
  <div class="field">
    <%= f.label :"Email" %><br>
    <%= f.text_field :empresaEmail %>
  </div>
  <div class="field">
    <%= f.label :"Pagina Web" %><br>
    <%= f.text_field :paginaWeb %>
  </div>
  <div class="field">
    <%= f.label :"Foto" %><br>
    <%= f.text_field :foto %>
  </div>
  <div class="field">
    <%= f.label :"Cuenta Contable" %><br>
    <%= f.text_field :cuentaContable %>
  </div>
  <div class="field">
    <%= f.label :"Fecha Inicio Contrato" %><br>
    <%= f.text_field :fechaInicio %>
  </div>
  <div class="field">
    <%= f.label :"Fecha Fin Contrato" %><br>
    <%= f.text_field :fechaFin %>
  </div>
  <div class="field">
    <%= f.label :usuarios_id %><br>
    <%= f.text_field :usuarios_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
