<font><h1 class="text-primary">Proveedores</h1></font>
<div class="col-md-10 center-block no-float form-login padding_top">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombre Cliente</th>
        <th>Telefono</th>
        <th>NIT</th>
        <th>Nombre Empresa</th>
        <th>Telefono</th>
        <th>Pagina Web</th>
        <th>Cuenta Contable</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @proveedors.each do |proveedor| %>
        <tr>
          <td><%= proveedor.cedula %></td>
          <td><%= proveedor.personaNombre %></td>
          <td><%= proveedor.personaTelefono %></td>
          <td><%= proveedor.nit %></td>
          <td><%= proveedor.empresaNombre %></td>
          <td><%= proveedor.empresaTelefono %></td>
          <td><%= proveedor.paginaWeb %></td>
          <td><%= proveedor.cuentaContable %></td>
          <td><%= link_to '', proveedor, :class=>"fa fa-eye fa-1x" %></td>
          <td><%= link_to '', edit_proveedor_path(proveedor), :class=>"fa fa-pencil fa-1x" %></td>
          <td><%= link_to '', proveedor, :class=>"fa fa-trash-o fa-1x", method: :delete, data: { confirm: '¿Esta Seguro que desea Eliminar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @proveedors %>
<br>

<div class="actions">
  <a><%= link_to 'Nuevo Proveedor', new_proveedor_path, :class=>" fa fa-plus-circle fa-2x btn btn-border-info btn-rounded btn-lg" %></a>
</div>