<p id="notice"><%= notice %></p>

<p>
  <strong>Tipocedula:</strong>
  <%= @proveedor.tipoCedula %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @proveedor.cedula %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @proveedor.fechaNacimiento %>
</p>

<p>
  <strong>Personanombre:</strong>
  <%= @proveedor.personaNombre %>
</p>

<p>
  <strong>Personaapellido:</strong>
  <%= @proveedor.personaApellido %>
</p>

<p>
  <strong>Personatelefono:</strong>
  <%= @proveedor.personaTelefono %>
</p>

<p>
  <strong>Personamovil:</strong>
  <%= @proveedor.personaMovil %>
</p>

<p>
  <strong>Personaemail:</strong>
  <%= @proveedor.personaEmail %>
</p>

<p>
  <strong>Personadireccion:</strong>
  <%= @proveedor.personaDireccion %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @proveedor.nit %>
</p>

<p>
  <strong>Empresanombre:</strong>
  <%= @proveedor.empresaNombre %>
</p>

<p>
  <strong>Empresadireccion:</strong>
  <%= @proveedor.empresaDireccion %>
</p>

<p>
  <strong>Empresatelefono:</strong>
  <%= @proveedor.empresaTelefono %>
</p>

<p>
  <strong>Empresaemail:</strong>
  <%= @proveedor.empresaEmail %>
</p>

<p>
  <strong>Paginaweb:</strong>
  <%= @proveedor.paginaWeb %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @proveedor.foto %>
</p>

<p>
  <strong>Cuentacontable:</strong>
  <%= @proveedor.cuentaContable %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @proveedor.fechaInicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @proveedor.fechaFin %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @proveedor.usuarios %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
