<p id="notice"><%= notice %></p>

<h1>Listing Seguimientos</h1>

<table>
  <thead>
    <tr>
      <th>Empresacliente</th>
      <th>Tiposeguimiento</th>
      <th>Descripcion</th>
      <th>Usuario</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
        <td><%= seguimiento.empresacliente %></td>
        <td><%= seguimiento.tiposeguimiento %></td>
        <td><%= seguimiento.descripcion %></td>
        <td><%= seguimiento.usuario %></td>
        <td><%= seguimiento.fecha %></td>
        <td><%= link_to 'Show', seguimiento %></td>
        <td><%= link_to 'Edit', edit_seguimiento_path(seguimiento) %></td>
        <td><%= link_to 'Destroy', seguimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seguimiento', new_seguimiento_path %>
