<p id="notice"><%= notice %></p>

<p>
  <strong>Empresacliente:</strong>
  <%= @seguimiento.empresacliente %>
</p>

<p>
  <strong>Tiposeguimiento:</strong>
  <%= @seguimiento.tiposeguimiento %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @seguimiento.descripcion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @seguimiento.usuario %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @seguimiento.fecha %>
</p>

<%= link_to 'Edit', edit_seguimiento_path(@seguimiento) %> |
<%= link_to 'Back', seguimientos_path %>
