<p id="notice"><%= notice %></p>

<h1>Listing Widgets</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>W1</th>
      <th>W2</th>
      <th>W3</th>
      <th>W4</th>
      <th>W5</th>
      <th>W6</th>
      <th>W7</th>
      <th>W8</th>
      <th>W9</th>
      <th>W10</th>
      <th>W11</th>
      <th>W12</th>
      <th>Colorlayout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= widget.usuario %></td>
        <td><%= widget.w1 %></td>
        <td><%= widget.w2 %></td>
        <td><%= widget.w3 %></td>
        <td><%= widget.w4 %></td>
        <td><%= widget.w5 %></td>
        <td><%= widget.w6 %></td>
        <td><%= widget.w7 %></td>
        <td><%= widget.w8 %></td>
        <td><%= widget.w9 %></td>
        <td><%= widget.w10 %></td>
        <td><%= widget.w11 %></td>
        <td><%= widget.w12 %></td>
        <td><%= widget.colorlayout %></td>
        <td><%= link_to 'Show', widget %></td>
        <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
        <td><%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Widget', new_widget_path %>
