<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @widget.usuario %>
</p>

<p>
  <strong>W1:</strong>
  <%= @widget.w1 %>
</p>

<p>
  <strong>W2:</strong>
  <%= @widget.w2 %>
</p>

<p>
  <strong>W3:</strong>
  <%= @widget.w3 %>
</p>

<p>
  <strong>W4:</strong>
  <%= @widget.w4 %>
</p>

<p>
  <strong>W5:</strong>
  <%= @widget.w5 %>
</p>

<p>
  <strong>W6:</strong>
  <%= @widget.w6 %>
</p>

<p>
  <strong>W7:</strong>
  <%= @widget.w7 %>
</p>

<p>
  <strong>W8:</strong>
  <%= @widget.w8 %>
</p>

<p>
  <strong>W9:</strong>
  <%= @widget.w9 %>
</p>

<p>
  <strong>W10:</strong>
  <%= @widget.w10 %>
</p>

<p>
  <strong>W11:</strong>
  <%= @widget.w11 %>
</p>

<p>
  <strong>W12:</strong>
  <%= @widget.w12 %>
</p>

<p>
  <strong>Colorlayout:</strong>
  <%= @widget.colorlayout %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
