<p id="notice"><%= notice %></p>

<h1>Listing Persona Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Tipo</th>
      <th>Fechainicio</th>
      <th>Fechafin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @persona_clientes.each do |persona_cliente| %>
      <tr>
        <td><%= persona_cliente.cedula %></td>
        <td><%= persona_cliente.nombre %></td>
        <td><%= persona_cliente.telefono %></td>
        <td><%= persona_cliente.email %></td>
        <td><%= persona_cliente.tipo %></td>
        <td><%= persona_cliente.fechaInicio %></td>
        <td><%= persona_cliente.fechaFin %></td>
        <td><%= link_to 'Show', persona_cliente %></td>
        <td><%= link_to 'Edit', edit_persona_cliente_path(persona_cliente) %></td>
        <td><%= link_to 'Destroy', persona_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persona cliente', new_persona_cliente_path %>
