<p id="notice"><%= notice %></p>

<p>
  <strong>Tipocedula:</strong>
  <%= @persona_cliente.tipoCedula %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @persona_cliente.cedula %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @persona_cliente.fechaNacimiento %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @persona_cliente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @persona_cliente.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona_cliente.telefono %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @persona_cliente.movil %>
</p>

<p>
  <strong>Email:</strong>
  <%= @persona_cliente.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona_cliente.direccion %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @persona_cliente.foto %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @persona_cliente.tipo %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @persona_cliente.fechaInicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @persona_cliente.fechaFin %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @persona_cliente.usuarios %>
</p>

<%= link_to 'Edit', edit_persona_cliente_path(@persona_cliente) %> |
<%= link_to 'Back', persona_clientes_path %>
