<p id="notice"><%= notice %></p>

<h1>Listing Empresa Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Nombre Cliente</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>NIT</th>
      <th>Nombre Empresa</th>
      <th>Telefono</th>
      <th>Pagina Web</th>
      <th>Tipo</th>
      <th>Inicio Contrato</th>
      <th>Fin Contrato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empresa_clientes.each do |empresa_cliente| %>
      <tr>
        <td><%= empresa_cliente.cedula %></td>
        <td><%= empresa_cliente.personaNombre %></td>
        <td><%= empresa_cliente.personaTelefono %></td>
        <td><%= empresa_cliente.personaEmail %></td>
        <td><%= empresa_cliente.nit %></td>
        <td><%= empresa_cliente.empresaNombre %></td>
        <td><%= empresa_cliente.empresaTelefono %></td>
        <td><%= empresa_cliente.paginaWeb %></td>
        <td><%= empresa_cliente.tipo %></td>
        <td><%= empresa_cliente.fechaInicio %></td>
        <td><%= empresa_cliente.fechaFin %></td>
        <td><%= link_to 'Show', empresa_cliente %></td>
        <td><%= link_to 'Edit', edit_empresa_cliente_path(empresa_cliente) %></td>
        <td><%= link_to 'Destroy', empresa_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Empresa cliente', new_empresa_cliente_path %>
