<p id="notice"><%= notice %></p>

<p>
  <strong>Tipocedula:</strong>
  <%= @empresa_cliente.tipoCedula %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @empresa_cliente.cedula %>
</p>

<p>
  <strong>Fechanacimiento:</strong>
  <%= @empresa_cliente.fechaNacimiento %>
</p>

<p>
  <strong>Personanombre:</strong>
  <%= @empresa_cliente.personaNombre %>
</p>

<p>
  <strong>Personaapellido:</strong>
  <%= @empresa_cliente.personaApellido %>
</p>

<p>
  <strong>Personatelefono:</strong>
  <%= @empresa_cliente.personaTelefono %>
</p>

<p>
  <strong>Personamovil:</strong>
  <%= @empresa_cliente.personaMovil %>
</p>

<p>
  <strong>Personaemail:</strong>
  <%= @empresa_cliente.personaEmail %>
</p>

<p>
  <strong>Personadireccion:</strong>
  <%= @empresa_cliente.personaDireccion %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @empresa_cliente.nit %>
</p>

<p>
  <strong>Empresanombre:</strong>
  <%= @empresa_cliente.empresaNombre %>
</p>

<p>
  <strong>Empresadireccion:</strong>
  <%= @empresa_cliente.empresaDireccion %>
</p>

<p>
  <strong>Empresatelefono:</strong>
  <%= @empresa_cliente.empresaTelefono %>
</p>

<p>
  <strong>Empresaemail:</strong>
  <%= @empresa_cliente.empresaEmail %>
</p>

<p>
  <strong>Paginaweb:</strong>
  <%= @empresa_cliente.paginaWeb %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @empresa_cliente.foto %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @empresa_cliente.tipo %>
</p>

<p>
  <strong>Fechainicio:</strong>
  <%= @empresa_cliente.fechaInicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @empresa_cliente.fechaFin %>
</p>

<p>
  <strong>Usuarios:</strong>
  <%= @empresa_cliente.usuarios %>
</p>

<%= link_to 'Edit', edit_empresa_cliente_path(@empresa_cliente) %> |
<%= link_to 'Back', empresa_clientes_path %>
