<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @accesosdirecto.usuario %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @accesosdirecto.icon %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @accesosdirecto.nombre %>
</p>

<p>
  <strong>Url:</strong>
  <%= @accesosdirecto.url %>
</p>

<%= link_to 'Edit', edit_accesosdirecto_path(@accesosdirecto) %> |
<%= link_to 'Back', accesosdirectos_path %>
