<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Nombre" %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :"Codigo" %><br>
    <%= f.number_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :"Fabricante" %><br>
    <%= f.text_field :fabricante %>
  </div>
  <div class="field">
    <%= f.label :"Disponibilidad" %><br>
    <%= f.text_field :disponibilidad %>
  </div>
  <div class="field">
    <%= f.label :"Precio" %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :"Cantidad" %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :"Descripcion" %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :proveedors_id %><br>
    <%= f.text_field :proveedors_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
