<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Producto: <%= @producto.nombre %></h1>
  </div>
  <div class="panel-body">
    <d1 class="dl-horizontal">
      <dt class="text-info">Codigo:</dt>
      <dd><%= @producto.codigo %></dd>
      <dt class="text-info">Fabricante:</dt>
      <dd><%= @producto.fabricante %></dd>
      <dt class="text-info">Disponibilidad:</dt>
      <dd><%= @producto.disponibilidad %></dd>
      <dt class="text-info">Precio:</dt>
      <dd><%= @producto.precio %></dd>
      <dt class="text-info">Cantidad:</dt>
      <dd><%= @producto.cantidad %></dd>
      <dt class="text-info">Descripcion:</dt>
      <dd><%= @producto.descripcion %></dd>
      <dt class="text-info">Proveedor:</dt>
      <dd><%= @producto.proveedors_id %></dd>
    </d1>
  </div>
</div>

<div>
  <h4>
    <a><%= link_to 'Editar', edit_producto_path(@producto), :class=>"btn btn-primary fa fa-pencil-square-o " %></a>
  <a><%= link_to 'Volver', :back, :class=>"btn btn-primary fa fa-arrow-circle-left" %></a>
  </h4>
  
</div>