<div class="panel panel-primary">
  <div class="panel-heading">
    <h1> <%= @user.nombre %></h1>
  </div>
  <div class="panel-body">
    <d1>
      <dt class="text-info">Email:</dt>
      <dd><%= @user.email %></dd>
      <dt class="text-info">Usuario:</dt>
      <dd><%= @user.nombreUsuario %></dd>
      <dt class="text-info">Rol:</dt>
      <dd><%= @user.rol %></dd>
    </d1>
  </div>
</div>


<h2>Accesos Directos</h2>
 
<% if @user.accesosdirecto.any? %>
  <ul>
    <% @user.accesosdirecto.each do |subsidiary| %>
      <li>Acceso Directo <%= subsidiary.id%>: <b><%= subsidiary.nombre %></b></li>
    <% end %>
  </ul>
<% else %>
  <p>No posee Accesos directos</p>
<% end %>



<div class="actions">
  <h3>
    <a><%= link_to 'Volver', :back, :class=>" fa fa-arrow-circle-left btn btn-primary" %></a>
  </h3>
</div>
