<p id="notice"><%= notice %></p>

<h1>Listing Tiposeguimientos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiposeguimientos.each do |tiposeguimiento| %>
      <tr>
        <td><%= tiposeguimiento.nombre %></td>
        <td><%= tiposeguimiento.activo %></td>
        <td><%= link_to 'Show', tiposeguimiento %></td>
        <td><%= link_to 'Edit', edit_tiposeguimiento_path(tiposeguimiento) %></td>
        <td><%= link_to 'Destroy', tiposeguimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiposeguimiento', new_tiposeguimiento_path %>
