<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @menu_rapido.usuario %>
</p>

<p>
  <strong>Accesor1:</strong>
  <%= @menu_rapido.accesor1 %>
</p>

<p>
  <strong>Accesor2:</strong>
  <%= @menu_rapido.accesor2 %>
</p>

<p>
  <strong>Accesor3:</strong>
  <%= @menu_rapido.accesor3 %>
</p>

<p>
  <strong>Accesor4:</strong>
  <%= @menu_rapido.accesor4 %>
</p>

<p>
  <strong>Accesor5:</strong>
  <%= @menu_rapido.accesor5 %>
</p>

<p>
  <strong>Acceso6:</strong>
  <%= @menu_rapido.acceso6 %>
</p>

<p>
  <strong>Accesor7:</strong>
  <%= @menu_rapido.accesor7 %>
</p>

<%= link_to 'Edit', edit_menu_rapido_path(@menu_rapido) %> |
<%= link_to 'Back', menu_rapidos_path %>
