<%= form_for(@modelo_personalizado) do |f| %>
  <% if @modelo_personalizado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modelo_personalizado.errors.count, "error") %> prohibited this modelo_personalizado from being saved:</h2>

      <ul>
      <% @modelo_personalizado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :colorApariencia %><br>
    <%= f.text_field :colorApariencia %>
  </div>
  <div class="field">
    <%= f.label :homeW1 %><br>
    <%= f.text_field :homeW1 %>
  </div>
  <div class="field">
    <%= f.label :homeW2 %><br>
    <%= f.text_field :homeW2 %>
  </div>
  <div class="field">
    <%= f.label :homeW3 %><br>
    <%= f.text_field :homeW3 %>
  </div>
  <div class="field">
    <%= f.label :homeW4 %><br>
    <%= f.text_field :homeW4 %>
  </div>
  <div class="field">
    <%= f.label :homeW5 %><br>
    <%= f.text_field :homeW5 %>
  </div>
  <div class="field">
    <%= f.label :homeW6 %><br>
    <%= f.text_field :homeW6 %>
  </div>
  <div class="field">
    <%= f.label :homeW7 %><br>
    <%= f.text_field :homeW7 %>
  </div>
  <div class="field">
    <%= f.label :homeW8 %><br>
    <%= f.text_field :homeW8 %>
  </div>
  <div class="field">
    <%= f.label :homeW9 %><br>
    <%= f.text_field :homeW9 %>
  </div>
  <div class="field">
    <%= f.label :homeW10 %><br>
    <%= f.text_field :homeW10 %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
