<p id="notice"><%= notice %></p>

<p>
  <strong>Colorapariencia:</strong>
  <%= @modelo_personalizado.colorApariencia %>
</p>

<p>
  <strong>Homew1:</strong>
  <%= @modelo_personalizado.homeW1 %>
</p>

<p>
  <strong>Homew2:</strong>
  <%= @modelo_personalizado.homeW2 %>
</p>

<p>
  <strong>Homew3:</strong>
  <%= @modelo_personalizado.homeW3 %>
</p>

<p>
  <strong>Homew4:</strong>
  <%= @modelo_personalizado.homeW4 %>
</p>

<p>
  <strong>Homew5:</strong>
  <%= @modelo_personalizado.homeW5 %>
</p>

<p>
  <strong>Homew6:</strong>
  <%= @modelo_personalizado.homeW6 %>
</p>

<p>
  <strong>Homew7:</strong>
  <%= @modelo_personalizado.homeW7 %>
</p>

<p>
  <strong>Homew8:</strong>
  <%= @modelo_personalizado.homeW8 %>
</p>

<p>
  <strong>Homew9:</strong>
  <%= @modelo_personalizado.homeW9 %>
</p>

<p>
  <strong>Homew10:</strong>
  <%= @modelo_personalizado.homeW10 %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @modelo_personalizado.usuario %>
</p>

<%= link_to 'Edit', edit_modelo_personalizado_path(@modelo_personalizado) %> |
<%= link_to 'Back', modelo_personalizados_path %>
